html {
    scroll-behavior: smooth;
}

.slider-item--active {
    transition: background-color 1s;
    background-color: rgba(0, 0, 0, 0);
}

body {
    p {
        font-family: 'Noto Serif', serif;
    }
}

img {
    width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden-mobile {
    display: none;
    @mixin atBigSlider {
        display: inline-block;
    }
}

.hidden-big {
    display: inline-block;
    @mixin atBigSlider {
        display: none;
    }
}
