@define-mixin atSmall {
  @media (min-width: 576px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 992px) {
    @mixin-content;
  }
}

@define-mixin atBigSlider {
  @media (min-width: 920px) {
    @mixin-content;
  }
}

@define-mixin atMediumSlider {
  @media (min-width: 682px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@define-mixin paddingReg {
  padding: 8px 30px;
}

@define-mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
