.nav-dots {
    width: 188px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    margin: 30px auto 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;

    @mixin atBigSlider {
        left: unset;
        top: unset;
        transform: unset;
        position: relative;
        width: 377px;
    }

    &.hidden {
        opacity: 0;
    }

    .dot {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        display: block;
        background-color: rgba(255,255,255, .5);
        &--solid {
            background-color: #fff;
        }
    }
}
