body.has-overlay {
    position: relative;

    &:after {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .36);
        z-index: 1;
    }

    .slider {
        z-index: 2;

        .slide-overlay {
            position: fixed;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .36);
            z-index: 1;
        }
    }
}

.modal {

    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 3;
    height: 0;
    opacity: 0;
    transition: all 1s;

    &:nth-child(odd),
    &:nth-child(even) {
        left: 0;
        width: 100%;
        @mixin atBigSlider {
            width: 530px;
        }
    }

    &:nth-child(odd) {
        @media (min-width: 1000px) {
            left: 5%;
        }
        @media (min-width: 1200px) {
            left: 10%;
        }
        @media (min-width: 1600px) {
            left: 18%;
        }
    }

    &:nth-child(even) {
        @mixin atBigSlider {
            left: 50%;
        }
    }


    &.open {
        height: 90vh;
        opacity: 1;

        .modal-wrapper {
            position: absolute;
            height: 90vh;
            overflow-y: auto;
        }
    }

    .modal-wrapper {
        padding: 30px;
        height: 90vh;
        background-color: #fff;
        display: block;

        .header {
            font-family: 'Arsenal', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            color: #2E2E2E;
            margin-bottom: 20px;
        }

        p {
            font-family: 'Noto Serif', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 23px;
            margin-bottom: 10px;
            color: #2E2E2E;
        }

        figure {
            margin: 10px auto;

            figcaption {
                margin-left: 50px;
                font-family: 'Hagin Caps Medium', Serif;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 17px;
                letter-spacing: 0.09em;
                color: #2E2E2E;

            }
        }

        .blockquote-header {
            font-family: 'Hagin Caps Medium', Serif;
            margin-right: 50px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: 0.09em;
            color: #2E2E2E;
            margin-left: 50px;
        }

        blockquote {
            margin: 20px auto;
            padding: 22px 42px;
            position: relative;
            font-family: 'Hagin Caps Medium', Serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.04em;
            text-indent: 9px;

            &:before,
            &:after {
                content: '';
                background-color: #2E2E2E;
                position: absolute;
                height: 1px;
                width: 100%;
            }

            &:before {
                top: 0;
                left: 0;
                right: 0;
            }

            &:after {
                bottom: 0;
                left: 0;
                right: 0;
            }

            h2 {
                font-family: 'Hagin Caps Medium', Serif;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.04em;
                color: #555343;
            }

            p.blockquotted {
                margin: 25px auto;
                position: relative;

                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    width: 23px;
                    height: 17px;
                    background-repeat: no-repeat;
                }

                &:before {
                    left: -30px;
                    background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M0 17.1287C2.5749 17.2406 6.82908 17.3526 9.29203 17.1287C9.06813 12.0908 9.40398 6.04542 10.9713 0.447809C8.84422 0.111951 6.82908 0 4.70199 0C0.895618 6.38127 0.335857 9.73984 0 17.1287Z' fill='black'/%3E%3Cpath opacity='0.3' d='M12.0288 17.1287C14.6037 17.2406 18.8579 17.3526 21.3208 17.1287C21.0969 12.0908 21.4328 6.04542 23.0001 0.447809C20.873 0.111951 18.8579 0 16.7308 0C12.9244 6.38127 12.3647 9.73984 12.0288 17.1287Z' fill='black'/%3E%3C/svg%3E%0A");
                }

                &:after {
                    right: -30px;
                    background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M23 0.129133C20.4251 0.0171814 16.1709 -0.0947762 13.708 0.129133C13.9319 5.16698 13.596 11.2124 12.0287 16.81C14.1558 17.1459 16.1709 17.2578 18.298 17.2578C22.1044 10.8765 22.6641 7.51797 23 0.129133Z' fill='black'/%3E%3Cpath opacity='0.3' d='M10.9712 0.129133C8.39629 0.0171814 4.14211 -0.0947762 1.67916 0.129133C1.90307 5.16698 1.56721 11.2124 -0.000118256 16.81C2.12697 17.1459 4.14211 17.2578 6.2692 17.2578C10.0756 10.8765 10.6353 7.51797 10.9712 0.129133Z' fill='black'/%3E%3C/svg%3E%0A");
                }
            }
        }
        .close-modal-x,
        .close-modal-btn {
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            @mixin atBigSlider {
                display: none;
            }
        }

        .close-modal-x {
            height: 15px;
            width: 15px;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 3L2.99999 18' stroke='%238E852E' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M3 3L18 18' stroke='%238E852E' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        }

        .close-modal-btn {
            margin: 30px 0 0;
            height: 32px;
            width: 196px;
            background-image: url("data:image/svg+xml,%3Csvg width='196' height='32' viewBox='0 0 196 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.89 16.94C48.15 17.08 48.78 17.6773 48.78 18.732C48.78 19.4973 48.486 20.0667 47.898 20.44C47.31 20.8133 46.512 21 45.504 21H42.48V13.664C43.5253 13.4587 44.4633 13.356 45.294 13.356C46.274 13.356 47.044 13.5287 47.604 13.874C48.164 14.21 48.444 14.7093 48.444 15.372C48.444 15.792 48.3087 16.1373 48.038 16.408C47.7767 16.6693 47.394 16.8467 46.89 16.94ZM45.266 14.672C45.014 14.672 44.748 14.686 44.468 14.714V16.506H45.392C45.728 16.506 45.9893 16.4313 46.176 16.282C46.372 16.1327 46.47 15.8993 46.47 15.582C46.47 15.274 46.3673 15.0453 46.162 14.896C45.966 14.7467 45.6673 14.672 45.266 14.672ZM45.462 19.656C46.3113 19.656 46.736 19.3013 46.736 18.592C46.736 18.2653 46.6333 18.0227 46.428 17.864C46.232 17.7053 45.9147 17.626 45.476 17.626H44.468V19.656H45.462ZM57.1629 17.122C57.1629 17.2153 57.1489 17.472 57.1209 17.892H52.4869C52.5523 18.564 52.7343 19.04 53.0329 19.32C53.3316 19.6 53.7376 19.74 54.2509 19.74C54.5683 19.74 54.8669 19.6887 55.1469 19.586C55.4269 19.4833 55.7303 19.32 56.0569 19.096L56.8829 20.216C56.0523 20.888 55.1143 21.224 54.0689 21.224C52.9023 21.224 52.0063 20.874 51.3809 20.174C50.7556 19.474 50.4429 18.5267 50.4429 17.332C50.4429 16.576 50.5736 15.8993 50.8349 15.302C51.1056 14.6953 51.4929 14.2193 51.9969 13.874C52.5103 13.5287 53.1169 13.356 53.8169 13.356C54.8716 13.356 55.6929 13.6873 56.2809 14.35C56.8689 15.0127 57.1629 15.9367 57.1629 17.122ZM55.1889 16.562C55.1889 15.33 54.7456 14.714 53.8589 14.714C53.4483 14.714 53.1263 14.868 52.8929 15.176C52.6689 15.4747 52.5336 15.9647 52.4869 16.646H55.1889V16.562ZM63.3059 13.356C64.2392 13.356 64.9299 13.7013 65.3779 14.392C65.8352 15.0733 66.0639 16.0347 66.0639 17.276C66.0639 18.032 65.9472 18.7087 65.7139 19.306C65.4805 19.9033 65.1399 20.3747 64.6919 20.72C64.2532 21.056 63.7305 21.224 63.1239 21.224C62.3679 21.224 61.7565 20.958 61.2899 20.426V23.856L59.3019 24.08V13.58H61.0519L61.1499 14.448C61.4299 14.084 61.7565 13.8133 62.1299 13.636C62.5125 13.4493 62.9045 13.356 63.3059 13.356ZM62.5359 19.74C63.5065 19.74 63.9919 18.9233 63.9919 17.29C63.9919 16.394 63.8845 15.7593 63.6699 15.386C63.4552 15.0127 63.1285 14.826 62.6899 14.826C62.4099 14.826 62.1485 14.9147 61.9059 15.092C61.6725 15.26 61.4672 15.4887 61.2899 15.778V19.012C61.6072 19.4973 62.0225 19.74 62.5359 19.74ZM72.6257 21V17.976H70.3297V21H68.3417V13.58H70.3297V16.478H72.6257V13.58H74.6137V21H72.6257ZM81.0942 21.014C80.7955 21.9567 80.3242 22.6847 79.6802 23.198C79.0455 23.7113 78.1822 24.0053 77.0902 24.08L76.8802 22.652C77.5895 22.5587 78.1075 22.3907 78.4342 22.148C78.7702 21.9053 79.0455 21.5227 79.2602 21H78.5742L76.2642 13.58H78.3782L79.8622 19.712L81.4302 13.58H83.4882L81.0942 21.014ZM90.7643 13.58L90.5123 15.078H88.4123V21H86.4243V15.078H84.1983V13.58H90.7643ZM94.9894 15.904C96.1654 15.904 97.0241 16.1233 97.5654 16.562C98.1161 16.9913 98.3914 17.6213 98.3914 18.452C98.3914 19.2827 98.1021 19.9173 97.5234 20.356C96.9541 20.7853 96.2121 21 95.2974 21H92.3714V13.58H94.3594V15.904H94.9894ZM95.1014 19.656C95.9321 19.656 96.3474 19.2453 96.3474 18.424C96.3474 18.0133 96.2447 17.71 96.0394 17.514C95.8341 17.318 95.4794 17.22 94.9754 17.22H94.3594V19.656H95.1014ZM103.466 13.356C103.961 13.356 104.404 13.4307 104.796 13.58C105.198 13.72 105.576 13.944 105.93 14.252L105.062 15.428C104.82 15.2413 104.582 15.106 104.348 15.022C104.124 14.938 103.877 14.896 103.606 14.896C102.552 14.896 102.024 15.708 102.024 17.332C102.024 18.1533 102.16 18.7413 102.43 19.096C102.701 19.4507 103.088 19.628 103.592 19.628C103.854 19.628 104.092 19.5907 104.306 19.516C104.521 19.432 104.773 19.2967 105.062 19.11L105.93 20.356C105.221 20.9347 104.409 21.224 103.494 21.224C102.766 21.224 102.132 21.0653 101.59 20.748C101.058 20.4307 100.648 19.9827 100.358 19.404C100.069 18.816 99.9242 18.13 99.9242 17.346C99.9242 16.562 100.069 15.8713 100.358 15.274C100.648 14.6673 101.058 14.196 101.59 13.86C102.132 13.524 102.757 13.356 103.466 13.356ZM113.568 13.58V21H111.58V18.354H110.488L109.074 21H106.932L108.668 17.892C107.874 17.4907 107.478 16.8467 107.478 15.96C107.478 15.176 107.762 14.5833 108.332 14.182C108.91 13.7807 109.741 13.58 110.824 13.58H113.568ZM111.58 17.122V14.896H110.81C109.951 14.896 109.522 15.2553 109.522 15.974C109.522 16.7393 109.937 17.122 110.768 17.122H111.58ZM124.751 16.94C126.011 17.08 126.641 17.6773 126.641 18.732C126.641 19.4973 126.347 20.0667 125.759 20.44C125.171 20.8133 124.373 21 123.365 21H120.341V13.664C121.387 13.4587 122.325 13.356 123.155 13.356C124.135 13.356 124.905 13.5287 125.465 13.874C126.025 14.21 126.305 14.7093 126.305 15.372C126.305 15.792 126.17 16.1373 125.899 16.408C125.638 16.6693 125.255 16.8467 124.751 16.94ZM123.127 14.672C122.875 14.672 122.609 14.686 122.329 14.714V16.506H123.253C123.589 16.506 123.851 16.4313 124.037 16.282C124.233 16.1327 124.331 15.8993 124.331 15.582C124.331 15.274 124.229 15.0453 124.023 14.896C123.827 14.7467 123.529 14.672 123.127 14.672ZM123.323 19.656C124.173 19.656 124.597 19.3013 124.597 18.592C124.597 18.2653 124.495 18.0227 124.289 17.864C124.093 17.7053 123.776 17.626 123.337 17.626H122.329V19.656H123.323ZM134.954 21H132.966V13.58H138.062L137.824 15.106H134.954V21ZM144.818 18.942C144.818 19.2313 144.86 19.446 144.944 19.586C145.028 19.7167 145.168 19.8147 145.364 19.88L144.944 21.196C144.506 21.1587 144.146 21.056 143.866 20.888C143.596 20.72 143.386 20.4587 143.236 20.104C142.751 20.8507 142.009 21.224 141.01 21.224C140.273 21.224 139.685 21.014 139.246 20.594C138.817 20.1647 138.602 19.6093 138.602 18.928C138.602 18.116 138.896 17.4953 139.484 17.066C140.072 16.6367 140.917 16.422 142.018 16.422H142.872V16.058C142.872 15.6007 142.77 15.2833 142.564 15.106C142.359 14.9287 142.018 14.84 141.542 14.84C141.02 14.84 140.366 14.9707 139.582 15.232L139.134 13.902C140.058 13.538 140.973 13.356 141.878 13.356C142.886 13.356 143.628 13.5753 144.104 14.014C144.58 14.4433 144.818 15.0873 144.818 15.946V18.942ZM141.556 19.796C142.116 19.796 142.555 19.5207 142.872 18.97V17.556H142.214C141.141 17.556 140.604 17.9573 140.604 18.76C140.604 19.0867 140.684 19.3433 140.842 19.53C141.01 19.7073 141.248 19.796 141.556 19.796ZM153.553 13.58V21H151.565V15.064H149.927L149.773 16.87C149.679 17.934 149.563 18.732 149.423 19.264C149.292 19.7867 149.063 20.1973 148.737 20.496C148.419 20.7853 147.934 21.0093 147.281 21.168L146.805 19.712C147.113 19.5813 147.332 19.4367 147.463 19.278C147.593 19.11 147.687 18.8533 147.743 18.508C147.808 18.1627 147.869 17.5747 147.925 16.744L148.163 13.58H153.553ZM162.488 17.122C162.488 17.2153 162.474 17.472 162.446 17.892H157.812C157.878 18.564 158.06 19.04 158.358 19.32C158.657 19.6 159.063 19.74 159.576 19.74C159.894 19.74 160.192 19.6887 160.472 19.586C160.752 19.4833 161.056 19.32 161.382 19.096L162.208 20.216C161.378 20.888 160.44 21.224 159.394 21.224C158.228 21.224 157.332 20.874 156.706 20.174C156.081 19.474 155.768 18.5267 155.768 17.332C155.768 16.576 155.899 15.8993 156.16 15.302C156.431 14.6953 156.818 14.2193 157.322 13.874C157.836 13.5287 158.442 13.356 159.142 13.356C160.197 13.356 161.018 13.6873 161.606 14.35C162.194 15.0127 162.488 15.9367 162.488 17.122ZM160.514 16.562C160.514 15.33 160.071 14.714 159.184 14.714C158.774 14.714 158.452 14.868 158.218 15.176C157.994 15.4747 157.859 15.9647 157.812 16.646H160.514V16.562ZM168.631 13.356C169.565 13.356 170.255 13.7013 170.703 14.392C171.161 15.0733 171.389 16.0347 171.389 17.276C171.389 18.032 171.273 18.7087 171.039 19.306C170.806 19.9033 170.465 20.3747 170.017 20.72C169.579 21.056 169.056 21.224 168.449 21.224C167.693 21.224 167.082 20.958 166.615 20.426V23.856L164.627 24.08V13.58H166.377L166.475 14.448C166.755 14.084 167.082 13.8133 167.455 13.636C167.838 13.4493 168.23 13.356 168.631 13.356ZM167.861 19.74C168.832 19.74 169.317 18.9233 169.317 17.29C169.317 16.394 169.21 15.7593 168.995 15.386C168.781 15.0127 168.454 14.826 168.015 14.826C167.735 14.826 167.474 14.9147 167.231 15.092C166.998 15.26 166.793 15.4887 166.615 15.778V19.012C166.933 19.4973 167.348 19.74 167.861 19.74ZM179.939 17.122C179.939 17.2153 179.925 17.472 179.897 17.892H175.263C175.328 18.564 175.51 19.04 175.809 19.32C176.108 19.6 176.514 19.74 177.027 19.74C177.344 19.74 177.643 19.6887 177.923 19.586C178.203 19.4833 178.506 19.32 178.833 19.096L179.659 20.216C178.828 20.888 177.89 21.224 176.845 21.224C175.678 21.224 174.782 20.874 174.157 20.174C173.532 19.474 173.219 18.5267 173.219 17.332C173.219 16.576 173.35 15.8993 173.611 15.302C173.882 14.6953 174.269 14.2193 174.773 13.874C175.286 13.5287 175.893 13.356 176.593 13.356C177.648 13.356 178.469 13.6873 179.057 14.35C179.645 15.0127 179.939 15.9367 179.939 17.122ZM177.965 16.562C177.965 15.33 177.522 14.714 176.635 14.714C176.224 14.714 175.902 14.868 175.669 15.176C175.445 15.4747 175.31 15.9647 175.263 16.646H177.965V16.562ZM188.42 13.356C189.092 13.356 189.68 13.5147 190.184 13.832C190.688 14.14 191.08 14.5927 191.36 15.19C191.64 15.778 191.78 16.478 191.78 17.29C191.78 18.0553 191.645 18.7367 191.374 19.334C191.103 19.922 190.711 20.384 190.198 20.72C189.694 21.056 189.097 21.224 188.406 21.224C187.473 21.224 186.721 20.9347 186.152 20.356C185.583 19.768 185.237 18.9607 185.116 17.934H184.066V21H182.078V13.58H184.066V16.52H185.144C185.284 15.5587 185.634 14.7933 186.194 14.224C186.763 13.6453 187.505 13.356 188.42 13.356ZM188.406 19.74C188.882 19.74 189.223 19.5393 189.428 19.138C189.643 18.7367 189.75 18.1207 189.75 17.29C189.75 15.666 189.307 14.854 188.42 14.854C187.972 14.854 187.636 15.05 187.412 15.442C187.197 15.834 187.09 16.45 187.09 17.29C187.09 18.1113 187.197 18.7273 187.412 19.138C187.627 19.5393 187.958 19.74 188.406 19.74Z' fill='%238E852E'/%3E%3Ccircle cx='16' cy='16' r='16' fill='%238E852E'/%3E%3Cpath d='M19 10L13 16L19 22' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-position: left center;
            @mixin atBigSlider {
                display: none;
            }
        }
    }
}
