.container {
    background-color: #777;
    overflow: hidden;
}

.slider-item {
    position: absolute;
    z-index: 0;
    opacity: 0;
    display: none;
    will-change: opacity;
    transition: opacity 1s, transform 1.2s, filter .5s, width 1s;
    width: 297px;

    @mixin atBigSlider {
        max-width: unset;
        width: 100%;
    }

    &__image {
        margin-bottom: 18px;
        width: auto;
        height: 457px;
        object-fit: cover;
        @mixin atBigSlider {
            height: auto;
            transform: unset;
        }
    }

    &__box {
        background-color: #fff;
        padding: 20px 30px;
        width: 297px;

        @mixin atBigSlider {
            width: 353px;
            padding: 20px;
        }

        &-text {
            margin-bottom: 33px;
            padding-bottom: 30px;

            & .title {
                font-family: 'Arsenal';
                font-style: italic;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0.05em;
                color: #262626;
                padding-bottom: 13px;
            }

            & .small {
                font-family: 'Arsenal';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.05em;
                color: #262626;
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 32px;
            width: 100%;
            position: absolute;
            bottom: 20px;
            left: 20px;
            background-repeat: no-repeat;
            z-index: 4;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='196' height='33' fill='none'%3E%3Cpath d='M51.386 21h-2.254v-3.626c0-1.335.107-2.609.322-3.822L46.668 21H43.91v-9.702h2.254v3.696c0 .775-.028 1.419-.084 1.932-.056.513-.14 1.11-.252 1.792l2.842-7.42h2.716V21zm5.685-7.672c.514 0 .976.075 1.386.224.41.15.798.378 1.162.686l-.952 1.316c-.467-.355-.938-.532-1.414-.532-.495 0-.868.182-1.12.546-.252.364-.378.952-.378 1.764 0 .784.126 1.34.378 1.666.252.327.616.49 1.092.49.252 0 .48-.037.686-.112.206-.084.453-.215.742-.392l.966 1.372a3.912 3.912 0 0 1-2.506.882c-.756 0-1.41-.159-1.96-.476a3.311 3.311 0 0 1-1.274-1.358c-.298-.588-.448-1.274-.448-2.058 0-.784.15-1.48.448-2.086a3.346 3.346 0 0 1 1.274-1.414c.55-.345 1.19-.518 1.918-.518zm10.003.238l-.266 1.638h-2.016V21H62.58v-5.796h-2.17v-1.638h6.664zm4.344-.238c1.14 0 2.03.35 2.674 1.05.645.69.966 1.661.966 2.912 0 .793-.149 1.489-.448 2.086a3.203 3.203 0 0 1-1.26 1.372c-.54.327-1.185.49-1.931.49-1.13 0-2.021-.345-2.674-1.036-.645-.7-.967-1.675-.967-2.926 0-.793.145-1.484.434-2.072a3.3 3.3 0 0 1 1.26-1.386c.551-.327 1.2-.49 1.947-.49zm0 1.624c-.448 0-.784.191-1.008.574-.224.373-.335.957-.335 1.75 0 .812.107 1.405.322 1.778.224.373.564.56 1.021.56.448 0 .784-.187 1.008-.56.224-.383.337-.97.337-1.764 0-.812-.113-1.405-.337-1.778-.214-.373-.55-.56-1.008-.56zm9.856-1.624c.934 0 1.629.345 2.086 1.036.458.69.686 1.657.686 2.898 0 .765-.121 1.451-.364 2.058-.233.597-.574 1.069-1.022 1.414-.448.336-.97.504-1.568.504-.746 0-1.348-.257-1.806-.77v3.402l-2.212.238V13.566h1.946l.112.826c.29-.364.62-.63.994-.798a2.649 2.649 0 0 1 1.148-.266zm-.854 6.286c.887 0 1.33-.775 1.33-2.324 0-.877-.098-1.484-.294-1.82-.196-.345-.49-.518-.882-.518-.252 0-.49.075-.714.224-.214.15-.406.364-.574.644v3.136c.299.439.677.658 1.134.658zM92.666 21h-2.1v-2.646c0-.523.028-1.017.084-1.484.056-.467.126-.859.21-1.176L88.382 21h-2.254v-7.434h2.114v2.688c0 .495-.033.98-.098 1.456-.056.476-.122.868-.196 1.176l2.45-5.32h2.268V21zm8.495-7.434V21h-2.212v-2.59h-.952L96.653 21h-2.366l1.708-3.108a2.28 2.28 0 0 1-.854-.77 2.161 2.161 0 0 1-.294-1.134c0-.793.294-1.395.882-1.806.598-.41 1.46-.616 2.59-.616h2.842zm-2.212 3.528V14.98h-.644c-.401 0-.704.089-.91.266-.196.177-.294.43-.294.756 0 .345.094.616.28.812.196.187.49.28.882.28h.686zm11.885-3.766c.514 0 .976.075 1.386.224.411.15.798.378 1.162.686l-.952 1.316c-.466-.355-.938-.532-1.414-.532-.494 0-.868.182-1.12.546-.252.364-.378.952-.378 1.764 0 .784.126 1.34.378 1.666.252.327.616.49 1.092.49.252 0 .481-.037.686-.112.206-.084.453-.215.742-.392l.966 1.372a3.91 3.91 0 0 1-2.506.882c-.756 0-1.409-.159-1.96-.476a3.318 3.318 0 0 1-1.274-1.358c-.298-.588-.448-1.274-.448-2.058 0-.784.15-1.48.448-2.086a3.353 3.353 0 0 1 1.274-1.414c.551-.345 1.19-.518 1.918-.518zm7.126 0c1.139 0 2.03.35 2.674 1.05.644.69.966 1.661.966 2.912 0 .793-.149 1.489-.448 2.086a3.198 3.198 0 0 1-1.26 1.372c-.541.327-1.185.49-1.932.49-1.129 0-2.02-.345-2.674-1.036-.644-.7-.966-1.675-.966-2.926 0-.793.145-1.484.434-2.072a3.306 3.306 0 0 1 1.26-1.386c.551-.327 1.2-.49 1.946-.49zm0 1.624c-.448 0-.784.191-1.008.574-.224.373-.336.957-.336 1.75 0 .812.108 1.405.322 1.778.224.373.565.56 1.022.56.448 0 .784-.187 1.008-.56.224-.383.336-.97.336-1.764 0-.812-.112-1.405-.336-1.778-.214-.373-.55-.56-1.008-.56zm11.763-1.386V21h-2.212v-5.81h-1.414l-.14 1.582c-.102 1.092-.224 1.909-.364 2.45-.13.532-.364.952-.7 1.26-.336.308-.849.541-1.54.7l-.546-1.61c.308-.14.523-.285.644-.434.131-.159.229-.406.294-.742.066-.345.126-.924.182-1.736l.224-3.094h5.572zm9.217 5.81v3.948h-1.54L137.148 21h-4.06l-.252 2.324h-1.54v-3.948h.462c.168-.121.303-.275.406-.462.112-.196.21-.513.294-.952.093-.439.172-1.064.238-1.876l.21-2.52h5.25v5.81h.784zm-2.856-4.354h-1.288l-.07.868c-.066.747-.15 1.349-.252 1.806-.094.448-.224.803-.392 1.064a1.944 1.944 0 0 1-.672.616h2.674v-4.354zm10.453 3.822c0 .28.038.485.112.616.084.13.215.229.392.294l-.462 1.442c-.457-.037-.83-.135-1.12-.294-.289-.168-.513-.43-.672-.784-.485.747-1.232 1.12-2.24 1.12-.737 0-1.325-.215-1.764-.644-.438-.43-.658-.99-.658-1.68 0-.812.299-1.433.896-1.862.598-.43 1.461-.644 2.59-.644h.756v-.322c0-.439-.093-.737-.28-.896-.186-.168-.513-.252-.98-.252-.242 0-.536.037-.882.112-.345.065-.7.159-1.064.28l-.504-1.456a8.587 8.587 0 0 1 1.428-.406c.495-.093.952-.14 1.372-.14 1.064 0 1.844.22 2.338.658.495.439.742 1.097.742 1.974v2.884zm-3.346.812c.504 0 .896-.238 1.176-.714v-1.316h-.546c-.504 0-.882.089-1.134.266-.242.177-.364.453-.364.826 0 .299.075.532.224.7.159.159.374.238.644.238zm11.359-6.09l-.266 1.638h-2.016V21h-2.212v-5.796h-2.17v-1.638h6.664zm6.827 5.278c0 .28.037.485.112.616.084.13.214.229.392.294l-.462 1.442c-.458-.037-.831-.135-1.12-.294-.29-.168-.514-.43-.672-.784-.486.747-1.232 1.12-2.24 1.12-.738 0-1.326-.215-1.764-.644-.439-.43-.658-.99-.658-1.68 0-.812.298-1.433.896-1.862.597-.43 1.46-.644 2.59-.644h.756v-.322c0-.439-.094-.737-.28-.896-.187-.168-.514-.252-.98-.252-.243 0-.537.037-.882.112-.346.065-.7.159-1.064.28l-.504-1.456a8.532 8.532 0 0 1 1.428-.406c.494-.093.952-.14 1.372-.14 1.064 0 1.843.22 2.338.658.494.439.742 1.097.742 1.974v2.884zm-3.346.812c.504 0 .896-.238 1.176-.714v-1.316h-.546c-.504 0-.882.089-1.134.266-.243.177-.364.453-.364.826 0 .299.074.532.224.7.158.159.373.238.644.238z' fill='%238E852E'/%3E%3Ccircle cx='16' cy='16' r='16' fill='%238E852E'/%3E%3Cpath d='M16 18.4a2.4 2.4 0 1 0 0-4.8 2.4 2.4 0 0 0 0 4.8z' fill='%23fff'/%3E%3Cpath d='M24.807 15.348c-.992-1.535-2.28-2.839-3.722-3.77C19.488 10.546 17.725 10 15.988 10c-1.595 0-3.162.456-4.66 1.354-1.527.916-2.911 2.255-4.113 3.978a1.197 1.197 0 0 0-.024 1.332c.99 1.55 2.265 2.856 3.685 3.775 1.6 1.036 3.321 1.561 5.112 1.561 1.752 0 3.518-.541 5.108-1.564 1.442-.93 2.727-2.238 3.715-3.785a1.207 1.207 0 0 0-.004-1.303zM16.001 19.6a3.6 3.6 0 1 1 0-7.2 3.6 3.6 0 0 1 0 7.2z' fill='%23fff'/%3E%3C/svg%3E");

            &.back-to-gallery {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='196' height='32' fill='none'%3E%3Cpath d='M46.89 16.94c1.26.14 1.89.737 1.89 1.792 0 .765-.294 1.335-.882 1.708-.588.373-1.386.56-2.394.56H42.48v-7.336c1.045-.205 1.983-.308 2.814-.308.98 0 1.75.173 2.31.518.56.336.84.835.84 1.498 0 .42-.135.765-.406 1.036-.261.261-.644.439-1.148.532zm-1.624-2.268c-.252 0-.518.014-.798.042v1.792h.924c.336 0 .597-.075.784-.224.196-.15.294-.383.294-.7 0-.308-.103-.537-.308-.686-.196-.15-.495-.224-.896-.224zm.196 4.984c.85 0 1.274-.355 1.274-1.064 0-.327-.103-.57-.308-.728-.196-.159-.513-.238-.952-.238h-1.008v2.03h.994zm11.7-2.534c0 .093-.013.35-.041.77h-4.634c.065.672.247 1.148.546 1.428.299.28.705.42 1.218.42.317 0 .616-.051.896-.154.28-.103.583-.266.91-.49l.826 1.12c-.83.672-1.769 1.008-2.814 1.008-1.167 0-2.063-.35-2.688-1.05-.625-.7-.938-1.647-.938-2.842 0-.756.13-1.433.392-2.03.27-.607.658-1.083 1.162-1.428.513-.345 1.12-.518 1.82-.518 1.055 0 1.876.331 2.464.994.588.663.882 1.587.882 2.772zm-1.973-.56c0-1.232-.443-1.848-1.33-1.848-.41 0-.733.154-.966.462-.224.299-.36.789-.406 1.47h2.702v-.084zm8.117-3.206c.933 0 1.624.345 2.072 1.036.457.681.686 1.643.686 2.884 0 .756-.117 1.433-.35 2.03-.233.597-.574 1.069-1.022 1.414-.439.336-.961.504-1.568.504-.756 0-1.367-.266-1.834-.798v3.43l-1.988.224v-10.5h1.75l.098.868c.28-.364.607-.635.98-.812.383-.187.774-.28 1.176-.28zm-.77 6.384c.97 0 1.456-.817 1.456-2.45 0-.896-.107-1.53-.322-1.904-.215-.373-.541-.56-.98-.56-.28 0-.541.089-.784.266a2.327 2.327 0 0 0-.616.686v3.234c.317.485.733.728 1.246.728zM72.626 21v-3.024H70.33V21h-1.988v-7.42h1.988v2.898h2.296V13.58h1.988V21h-1.988zm8.468.014c-.298.943-.77 1.67-1.414 2.184-.635.513-1.498.807-2.59.882l-.21-1.428c.71-.093 1.228-.261 1.554-.504.336-.243.612-.625.826-1.148h-.686l-2.31-7.42h2.114l1.484 6.132 1.568-6.132h2.058l-2.394 7.434zm9.67-7.434l-.252 1.498h-2.1V21h-1.988v-5.922h-2.226V13.58h6.566zm4.225 2.324c1.176 0 2.035.22 2.576.658.551.43.826 1.06.826 1.89 0 .83-.289 1.465-.868 1.904-.569.43-1.31.644-2.226.644h-2.926v-7.42h1.988v2.324h.63zm.112 3.752c.831 0 1.246-.41 1.246-1.232 0-.41-.102-.714-.308-.91-.205-.196-.56-.294-1.064-.294h-.616v2.436h.742zm8.365-6.3c.495 0 .938.075 1.33.224.402.14.78.364 1.134.672l-.868 1.176a2.644 2.644 0 0 0-.714-.406 2.097 2.097 0 0 0-.742-.126c-1.054 0-1.582.812-1.582 2.436 0 .821.136 1.41.406 1.764.271.355.658.532 1.162.532.262 0 .5-.037.714-.112.215-.084.467-.22.756-.406l.868 1.246a3.744 3.744 0 0 1-2.436.868c-.728 0-1.362-.159-1.904-.476a3.187 3.187 0 0 1-1.232-1.344c-.289-.588-.434-1.274-.434-2.058 0-.784.145-1.475.434-2.072a3.32 3.32 0 0 1 1.232-1.414c.542-.336 1.167-.504 1.876-.504zm10.102.224V21h-1.988v-2.646h-1.092L109.074 21h-2.142l1.736-3.108c-.794-.401-1.19-1.045-1.19-1.932 0-.784.284-1.377.854-1.778.578-.401 1.409-.602 2.492-.602h2.744zm-1.988 3.542v-2.226h-.77c-.859 0-1.288.36-1.288 1.078 0 .765.415 1.148 1.246 1.148h.812zm13.171-.182c1.26.14 1.89.737 1.89 1.792 0 .765-.294 1.335-.882 1.708-.588.373-1.386.56-2.394.56h-3.024v-7.336c1.046-.205 1.984-.308 2.814-.308.98 0 1.75.173 2.31.518.56.336.84.835.84 1.498 0 .42-.135.765-.406 1.036-.261.261-.644.439-1.148.532zm-1.624-2.268c-.252 0-.518.014-.798.042v1.792h.924c.336 0 .598-.075.784-.224.196-.15.294-.383.294-.7 0-.308-.102-.537-.308-.686-.196-.15-.494-.224-.896-.224zm.196 4.984c.85 0 1.274-.355 1.274-1.064 0-.327-.102-.57-.308-.728-.196-.159-.513-.238-.952-.238h-1.008v2.03h.994zM134.954 21h-1.988v-7.42h5.096l-.238 1.526h-2.87V21zm9.864-2.058c0 .29.042.504.126.644.084.13.224.229.42.294l-.42 1.316c-.438-.037-.798-.14-1.078-.308-.27-.168-.48-.43-.63-.784-.485.747-1.227 1.12-2.226 1.12-.737 0-1.325-.21-1.764-.63-.429-.43-.644-.985-.644-1.666 0-.812.294-1.433.882-1.862.588-.43 1.433-.644 2.534-.644h.854v-.364c0-.457-.102-.775-.308-.952-.205-.177-.546-.266-1.022-.266-.522 0-1.176.13-1.96.392l-.448-1.33c.924-.364 1.839-.546 2.744-.546 1.008 0 1.75.22 2.226.658.476.43.714 1.073.714 1.932v2.996zm-3.262.854c.56 0 .999-.275 1.316-.826v-1.414h-.658c-1.073 0-1.61.401-1.61 1.204 0 .327.08.583.238.77.168.177.406.266.714.266zm11.997-6.216V21h-1.988v-5.936h-1.638l-.154 1.806c-.094 1.064-.21 1.862-.35 2.394-.131.523-.36.933-.686 1.232-.318.29-.803.513-1.456.672l-.476-1.456c.308-.13.527-.275.658-.434.13-.168.224-.425.28-.77.065-.345.126-.933.182-1.764l.238-3.164h5.39zm8.935 3.542c0 .093-.014.35-.042.77h-4.634c.066.672.248 1.148.546 1.428.299.28.705.42 1.218.42.318 0 .616-.051.896-.154.28-.103.584-.266.91-.49l.826 1.12c-.83.672-1.768 1.008-2.814 1.008-1.166 0-2.062-.35-2.688-1.05-.625-.7-.938-1.647-.938-2.842 0-.756.131-1.433.392-2.03.271-.607.658-1.083 1.162-1.428.514-.345 1.12-.518 1.82-.518 1.055 0 1.876.331 2.464.994.588.663.882 1.587.882 2.772zm-1.974-.56c0-1.232-.443-1.848-1.33-1.848-.41 0-.732.154-.966.462-.224.299-.359.789-.406 1.47h2.702v-.084zm8.117-3.206c.934 0 1.624.345 2.072 1.036.458.681.686 1.643.686 2.884 0 .756-.116 1.433-.35 2.03-.233.597-.574 1.069-1.022 1.414-.438.336-.961.504-1.568.504-.756 0-1.367-.266-1.834-.798v3.43l-1.988.224v-10.5h1.75l.098.868c.28-.364.607-.635.98-.812.383-.187.775-.28 1.176-.28zm-.77 6.384c.971 0 1.456-.817 1.456-2.45 0-.896-.107-1.53-.322-1.904-.214-.373-.541-.56-.98-.56-.28 0-.541.089-.784.266a2.342 2.342 0 0 0-.616.686v3.234c.318.485.733.728 1.246.728zm12.078-2.618c0 .093-.014.35-.042.77h-4.634c.065.672.247 1.148.546 1.428.299.28.705.42 1.218.42.317 0 .616-.051.896-.154.28-.103.583-.266.91-.49l.826 1.12c-.831.672-1.769 1.008-2.814 1.008-1.167 0-2.063-.35-2.688-1.05-.625-.7-.938-1.647-.938-2.842 0-.756.131-1.433.392-2.03.271-.607.658-1.083 1.162-1.428.513-.345 1.12-.518 1.82-.518 1.055 0 1.876.331 2.464.994.588.663.882 1.587.882 2.772zm-1.974-.56c0-1.232-.443-1.848-1.33-1.848-.411 0-.733.154-.966.462-.224.299-.359.789-.406 1.47h2.702v-.084zm10.455-3.206c.672 0 1.26.159 1.764.476.504.308.896.76 1.176 1.358.28.588.42 1.288.42 2.1 0 .765-.135 1.447-.406 2.044a3.233 3.233 0 0 1-1.176 1.386c-.504.336-1.101.504-1.792.504-.933 0-1.685-.29-2.254-.868-.569-.588-.915-1.395-1.036-2.422h-1.05V21h-1.988v-7.42h1.988v2.94h1.078c.14-.961.49-1.727 1.05-2.296.569-.579 1.311-.868 2.226-.868zm-.014 6.384c.476 0 .817-.2 1.022-.602.215-.401.322-1.017.322-1.848 0-1.624-.443-2.436-1.33-2.436-.448 0-.784.196-1.008.588-.215.392-.322 1.008-.322 1.848 0 .821.107 1.437.322 1.848.215.401.546.602.994.602z' fill='%23fff'/%3E%3Ccircle cx='16' cy='16' r='16' fill='%23fff'/%3E%3Cpath d='M19 10l-6 6 6 6' stroke='%238E852E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                display: none;
                @mixin atBigSlider {
                    display: block;
                }
            }
        }
    }
}

.slider-item:nth-child(odd) {
    @mixin atBigSlider {
        transform: translateX(-120px) scale(.4);
    }
}

.slider-item:nth-child(even) {
    @mixin atBigSlider {
        transform: translateX(120px) scale(.4);
    }
}

.slider-item:nth-child(odd).slider-item--active,
.slider-item:nth-child(even).slider-item--active,
.slider-item.slider-item--next,
.slider-item.slider-item--prev {
    display: flex;
}

.slider-item.slider-item--next {
    opacity: 0;
}

@mixin atMediumSlider {
    .slider-item.slider-item--next {
        opacity: 0;
    }
}

.slider-item:nth-child(even).slider-item--next {
    @mixin atBigSlider {
        transform: translateX(120px) scale(.4);
    }
}

.slider-item:nth-child(odd).slider-item--next {
    @mixin atBigSlider {
        transform: translateX(-120px) scale(.4);
    }
}

.slider-item:nth-child(odd).slider-item--active,
.slider-item:nth-child(even).slider-item--active {
    z-index: 1;
    opacity: 1;
}

.slider-item:nth-child(odd).slider-item--active {
    transform: scale(1) translateY(-10%);
    @mixin atBigSlider {
        transform: scale(1) translateX(-120px);
    }
}

.slider-item:nth-child(even).slider-item--active {
    transform: scale(1) translateY(-10%);
    @mixin atBigSlider {
        right: 0;
        transform: scale(1) translateX(120px);
    }
}

.slider-item.slider-item--next {
    opacity: 0;
    @mixin atBigSlider {
        opacity: 1;
        filter: blur(15px);
    }
    transition: scale 1.5s, opacity 1.2s, transform 1.5s, filter 1s;
}

.slider-item.slider-item--prev {
    transform: scale(2);
    opacity: 0;
}
